#assets_list
  %table.table.table-hover
    %thead
      - @assets.first.asset_attributes.pluck(:name).each do |heading|
        %th
          = heading
    %tbody
      - @assets.each do |asset|
        %tr{ id: asset.id, 'data-url' => asset_path(asset) }
          - asset.asset_attributes.pluck(:name).collect(&:snake_case).each do |attr|
            %td{class: attr}
              = asset.try(attr)

