  //
  // This is a manifest file that'll be compiled into application.css, which will include all the files
  // listed below.
  //
  // Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  // or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
  //
  // You're free to add application-wide styles to this file and they'll appear at the top of the
  // compiled file, but it's generally better to create a new file per style scope.
  //
  //= require_self
  //= require_tree .

@import "bootstrap";
@import 'font-awesome';


.table-hover {
  tr {
      cursor: pointer;
  }
}

.widget {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 5px;

  &.medium {
    max-width: 400px;
  }

  .head {
    padding: 2px;
    padding-left: 10px;
    background-color: #ddd;
  }

  .body {
    padding: 5px;
  }
}

.td {
  display: inline-block;
  width: 150px;
}